:root{

	--main--: #9CA777;
	--furniture--: #7C9070;
}

*{

	box-sizing: border-box;
	margin:0px;

}

body{

	background-color: #ffffea;

}

.top-container{

	display: flex;
	flex-wrap: wrap;
	background-color: #263A29;
	padding: 20px;
	position: sticky;
	top: 0;
	z-index: 1;

}

.headnav{

	padding-left: 50px;
	padding-top: 10px;
	width: 20%;
	flex: 20%;

}

li{

	display: inline;
	list-style-type: none;
	padding: 10px;
	transform: translatey(10px);

}

a{

	text-decoration: none;
	color: whitesmoke;
	font-size: 20px;
	transition: 0.4s ease-in-out;
	font-family: 'Lucida Sans';
}

.nav{
	
	padding:10px;
	margin-top: 10px;
	width: 40%;

}

ul :hover{

	color: #ffa600;
    
}

.search input[type=text]{

	padding: 8px;
	border-radius: 15px;
	font-size: 15px;
	border: none;
	width: 400px;

}

.search{

	padding: 10px;
	padding-left: 150px;
	width: 10%;
	flex: 20%;
	transform: translateY(2px);
	text-align: center;

}

/* HOME CSS */

#home-content{
	width: 100%;
	background-image: url(sources/b-img.jpg);
	background-position: center;
	background-size: cover;
	height: 100vh;
	/* min-height: 90vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url(sources/b-img.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	filter: 50%; */
}

#home-content h1{
	padding-top: 50px;
	font-size: 800%;
	height: auto;
	margin: auto;
	text-align: center;
	letter-spacing: 2px;
	font-family: system-ui;
}

#home-content h3{
	margin-left: 435px;
	font-family: 'Trebuchet MS';
}

#home-content p{
	text-align: center;
	font-family: 'Trebuchet MS';
	color: white;
	line-height: 30px;
	width: 40%;
	margin-left: 435px;
	margin-top: 50px;
	text-align: justify;
}

#home-content .btn{
	margin-left: 435px;
	margin-top: 30px;
	width: 150px;
	height: 50px;
	background: #263A29;
	
}

.btn :hover{
	color: #ffa600;
}

/*FURNITURE PAGE*/

.furniturenavpage{
	scroll-snap-stop: normal;
	background-color: #F3DEBA;
	white-space: normal;
}

.furniturepage{
	display:flex;
	flex-wrap: wrap;

}

.classifications{
	color: #AA5656;
	text-align: center;
	font-size: x-large;
	margin: 30px;
	margin-bottom: 0;
	margin-top: 15px;
	padding: 20px;
	padding-left: 5px;
	padding-bottom: 0;

}




.furnitures{
	flex: 10%;
	text-align: center;
	display: inline-block;
	padding: 10px;
	margin:30px;
	margin-top: 10px;
	width: 200px;
	height: 300px;

}

.original {
  	text-decoration: line-through;
 	color: #d81313;
	opacity: 60%;
	padding-left: 10px;
	
}

.button {
	background-color: #9CA777;
	color: black;
	border-radius: 10px;
	box-shadow: 5px -3px 6px gray;
}


.button:hover{
	color: red;
}



.img{

	padding: 20	px;
	height: 200px;
	border-radius: 20px;
	transition: 1s;
}

/*.furnitures .img3{
	background-color: white;
}*/


.furnitures:hover .img{

	opacity: 100%;

}

.furnitures .img:hover{
	opacity: 100%;
	transform: scale(1.5);
}


.furnitures p.p{
	font-size: 18px;
	border-radius: 10px;
	margin: 5px;
	font-size: x-large;
	font-family: 'Trebuchet MS';


}


/* ABOUT US CSS */

.aboutus-head{

	margin-top: 200px;
	text-align: center;
	font-family: 'Lucida Sans';

}

.aboutus-row{
	
	display: flex;
	flex-wrap: wrap;
	
}


.aboutus-side{

	margin: 30px;
	margin-right: 0;
	padding: 20px;
	flex: 30%;

}

.aboutus-side h2.h2{

	margin-top: 120px;
	margin-left: 210px;
	width: 30%;
	text-align: justify;
	color: darkslategray;
	width: 500px;
	padding-left: 40px;
	font-family: 'Lucida Sans';

}

.aboutus-side p.p{

	margin-top: 20px;
	margin-left: 210px;
	width: 30%;
	text-align: justify;
	color: darkslategray;
	width: 500px;
	padding-left: 40px;
	font-family: 'Trebuchet MS';

}

.aboutus-side h2.h{

	margin-top: 100px;
	margin-left: 210px;
	width: 30%;
	text-align: justify;
	color: darkslategray;
	width: 500px;
	padding-left: 30px;
	font-family: 'Lucida Sans';

}

.aboutus-side p.pp{

	margin-top: 20px;
	margin-left: 200px;
	width: 30%;
	text-align: justify;
	color: darkslategray;
	width: 500px;
	padding-left: 40px;
	font-family: 'Trebuchet MS';

}

.aboutus-side img{

	margin-top: 70px;
	margin-left: 200px;
	border:black solid 1px ;
	box-shadow: 5px -3px 6px gray;
	height: 400px;
	width: 600px;
	
}

.aboutus-row .main{

	text-align: center;

}
.aboutus-main{

	padding: 20px;
	margin: 30px;
	margin-right: 30px;
	text-align: justify;
	flex: 30%;
	font-size: 15px;
	color: deepgreen;

}

.aboutus-main p.p{

	margin-top: 20px;
	margin-left: 100px;
	margin-right: 200px;
	width: 30%;
	text-align: justify;
	color: darkslategray;
	width: 500px;
	padding-left: 40px;
	padding-right: 60px;
	font-family: 'Trebuchet MS';

}

.aboutus-main h2.h2{

	margin-top: 100PX;
	margin-left: 100px;
	margin-right: 200px;
	width: 30%;
	text-align: justify;
	color: darkslategray;
	width: 500px;
	padding-left: 40px;
	padding-right: 60px;
	font-family: 'Lucida Sans';

}

.aboutus-main #main-first{

	margin-right: 60px;
	margin-left: 30px;
	border:black solid 1px ;
	box-shadow: 5px -3px 6px gray;
	height: 400px;
	width: 600px;

}

.aboutus-main #main-second{

	margin-top: 100PX;
	margin-right: 50px;
	margin-left: 30px;
	border:black solid 1px ;
	box-shadow: 5px -3px 6px gray;
	height: 400px;
	width: 600px;

}

.aboutus-row .aside{

	text-align: justify;

}

/* CONTACT US CSS */

.contactus-row{

	display: flex;
	flex-wrap: wrap;
	
}

.contactus-left-side{

	margin: 30px;
	margin-right: 0;
	padding: 20px;
	flex: 30%;
	font-family: 'Ysabeau', sans-serif;

}

.contactus-left-side a{
	margin-left: 25px;
	padding-bottom: 20px;
	font-size: 15px;
	text-decoration: none;
	color: #AA5656;
	display: block;
}

.contactus-left-side h2{

    margin-left: 80px;
    margin-top: 20px;
    color: #263A29;

}

.contactus-left-side p.p{

    text-align: justify;
	color: darkslategray;
	width: 500px;
	margin-left: 80px;
	font-family: 'Trebuchet MS';

}

.contactus-left-side p.pp{

    text-align: justify;
	color: darkslategray;
	width: 500px;
	margin-left: 80px;
	font-family: 'Trebuchet MS';

}

.contactus-left-side h3{
   
    margin-left: 80px;

}

.contactus-left-side p.ppp{

    text-align: justify;
	color: darkslategray;
	width: 500px;
	margin-left: 80px;
	font-family: 'Trebuchet MS';

}

.contactus-left-side h2.h2h2{

    margin-left: 80px;
    margin-top: 20px;
    color: #263A29;
    width: 500px;

}

/* .contactus-right-side{
	background-color: rgb(248, 220, 183);
} */

.contactus-fullname input[type=text]{

	padding: 8px;
	border-radius: 15px;
	font-size: 15px;
	border: solid black 1px;
	width: 500px;
    margin-top: 120px;
    margin-right: 200px;
	background-color: #ffffea;
	border:black solid 1px ;
	box-shadow: 5px -3px 6px gray;

}


.fullname{
	padding: 10px;
	padding-left: 200px;
	width: 50%;
	text-align: center;

}

.contactus-email input[type=text]{

	padding: 8px;
	border-radius: 15px;
	font-size: 15px;
	border: solid black 1px;
	width: 500px;
    margin-top: 20px;
    margin-right: 200px;
	background-color: #ffffea;
	border:black solid 1px ;
	box-shadow: 5px -3px 6px gray;

}

.email{

	padding: 10px;
	padding-left: 200px;
	width: 50%;
	text-align: center;

}

.contactus-contact input[type=text]{

	padding: 8px;
	border-radius: 15px;
	font-size: 15px;
	border: solid black 1px;
	width: 500px;
    margin-top: 20px;
    margin-right: 200px;
	background-color: #ffffea;
	border:black solid 1px ;
	box-shadow: 5px -3px 6px gray;

}

.contact{

	padding: 10px;
	padding-left: 200px;
	width: 50%;
	text-align: center;

}

.contactus-message input[type=text]{

	border-radius: 15px;
	font-size: 15px;
	border: solid black 1px;
	width: 500px;
    height: 500px;
    margin-top: 20px;
    margin-right: 200px;
	background-color: #ffffea;
	border:black solid 1px ;
	box-shadow: 5px -3px 6px gray;

}

.message{

	padding: 10px;
	padding-left: 200px;
	width: 50%;
	text-align: center;

}

/* BLOG CSS */

.blog-top-container{
	border: none;
	background-image: url('sources/wp.png');
	height: 200px;

}

 .blogpage{
    background-color: #E1D4BB;
}


.blog{
	display: flex;
	flex: wrap;
}



.blog-main{
    flex: 70%;
    margin: 50px;
    margin-right: 20px;
    margin-top: 0;
    padding: 10px;
    text-align: justify;
    
}

.blog-main h4{
	font-size: 20px	;
	padding: 20px;
	padding-left: 0;
	padding-top: 0;

}

.blog-main p.p{
	padding: 5px;
	padding-left: 0;
	text-align: justify;

}

.blog-side{
    flex: 30%;
    margin: 50px;
    margin-left: 0;
    padding: 10px;
    margin-top: 0;
    text-align: justify;
}

form.example input[type=text] {
	padding: 10px;
	font-size: 10px;
	border: 1px solid grey;
	float: left;
	width: 80%;
	background: #f1f1f1;
}

form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #867070;
  color: white;
  font-size: 10px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

.blog-side .img{
	text-align: center;
}

.img img{
	margin-top: 20px;
	border-radius: 20px;
	box-shadow: 10px 5px 5px #83764F;
}


/* FOOTER */

.container{
	max-width: 1170px;
	margin: auto;
}

.footer{
	background: #9CA777;
	padding: 70px 0;
}

.row{
	display: flex;
	flex-wrap: wrap;
}

.footer-col{
	width: 25%;
	padding: 0 15px;
}

.footer-col h4{
	font-size: 18px;
	color: #2c2929;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}

.footer-col h4::before{
	content: '';
	position: absolute;
	left: 0;
	bottom: -10px;
	background: #ffa600;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}

.footer-col ul{
	list-style: none;
}

.footer-col ul li a{
	font-size: 16px;
	text-decoration: none;
	color: #2c2929;
	display: block;
	transition: all .3s ease;
}

.footer-col ul li a:hover{
	color: #ffa600;
	padding-left: 6px;
}

.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background: #494b50;
	margin: 0 10px 10 0px;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #fff;
	transition: all .5 ease;

}

.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffa600;
}

.footer-col .btttn{
	color: #9CA777;
	background-color: #9CA777;
	border: none;
	border-radius: 10px;
}

.footer-col .btttn:hover{
	color: #9CA777;
	background-color: #263A29;
}

/* @media screen and(max-width: 350px){
	.top-container{
		flex-direction: column;
		width: 50%;
	}
	.nav{
		padding: 0px;
		margin-top: 0px;
		width: 20%;
		font-size: 20px;
	}
	.search input[type=text]{
		padding: 0%;
		font-size: 10px;
		border: 0;
		width: 40px;
		flex-direction: column;
	}
	#homepage{
		font-size: 20px;
		flex-direction: column;
		text-align: center;
	}
} */

@media screen and(max-width: 600px){
	.furniturepage{
		flex-direction: column;
	}

	.classifications h1{
		font-size: 20px;
	}
}