:root{

	--main--: #9CA777;
	--furniture--: #7C9070;
}

*{

	box-sizing: border-box;
	margin:0px;

}

body{

	background-color: #ffffea;

}

.top-container{

	display: flex;
	flex-wrap: wrap;
	background-color: #263A29;
	padding: 20px;
	position: sticky;
	top: 0;
	z-index: 1;

}

.headnav{

	padding-left: 50px;
	padding-top: 10px;
	width: 20%;
	flex: 20%;

}

li{

	display: inline;
	list-style-type: none;
	padding: 10px;
	transform: translatey(10px);

}

a{

	text-decoration: none;
	color: whitesmoke;
	font-size: 20px;
	transition: 0.4s ease-in-out;
	font-family: 'Lucida Sans';
}

.nav{
	
	padding:10px;
	margin-top: 10px;
	width: 40%;

}

ul :hover{

	color: #ffa600;
    
}

.search input[type=text]{

	padding: 8px;
	border-radius: 15px;
	font-size: 15px;
	border: none;
	width: 400px;

}

.search{

	padding: 10px;
	padding-left: 150px;
	width: 10%;
	flex: 20%;
	transform: translateY(2px);
	text-align: center;

}

/* HOME CSS */

#home-content{
	width: 100%;
	background-image: url(sources/b-img.jpg);
	background-position: center;
	background-size: cover;
	height: 100vh;
	/* min-height: 90vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url(sources/b-img.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	filter: 50%; */
}

#home-content h1{
	padding-top: 50px;
	font-size: 800%;
	height: auto;
	margin: auto;
	text-align: center;
	letter-spacing: 2px;
	font-family: system-ui;
}

#home-content h3{
	margin-left: 435px;
	font-family: 'Trebuchet MS';
}

#home-content p{
	text-align: center;
	font-family: 'Trebuchet MS';
	color: white;
	line-height: 30px;
	width: 40%;
	margin-left: 435px;
	margin-top: 50px;
	text-align: justify;
}

#home-content .btn{
	margin-left: 435px;
	margin-top: 30px;
	font-size: 20px;
	border-radius: 5px;
	background: #ffa600;
	
	
}

.btn :hover{
	color: black;
}

/*FURNITURE PAGE*/

.furnitures-head{

	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
	font-family: 'Lucida Sans';
	font-size: x-large;

}

.furniturenavpage{
	scroll-snap-stop: normal;
	background-color: #F3DEBA;
	white-space: normal;
}

.furniturepage{
	display:flex;
	flex-wrap: wrap;

}

.classifications{
	color: black;
	text-align: center;
	font-size: large;
	margin: 30px;
	margin-bottom: 0;
	margin-top: 15px;
	padding: 20px;
	padding-left: 5px;
	padding-bottom: 0;

}


.furnitures{
	flex: 10%;
	text-align: center;
	display: inline-block;
	padding: 10px;
	margin:30px;
	margin-top: 10px;
	width: 200px;
	height: 300px;

}

.original {
  	text-decoration: line-through;
 	color: #d81313;
	opacity: 60%;
	padding-left: 10px;
	
}

.cart {
	background-color: #ffa600;
	color: black;
	padding: 5;
	font-size: 10px;
	border: none;
	box-shadow: 0px 3px 5px;
}

.cart:hover{
	color: white;
}


.img{

	padding: 20	px;
	height: 200px;
	border-radius: 20px;
	transition: 1s;
}


.furnitures:hover .img{

	opacity: 100%;

}

.furnitures .img:hover{
	opacity: 100%;
	transform: scale(1.5);
}


.furnitures p.p{
	font-size: 18px;
	border-radius: 10px;
	margin: 5px;
	font-size: x-large;
	font-family: 'Trebuchet MS';


}


/* ABOUT US CSS */

.aboutus-head{

	margin-top: 50px;
	text-align: center;
	font-family: 'Lucida Sans';
	font-size: x-large;

}

.aboutus-row{
	
	display: flex;
	flex-wrap: wrap;
	
}


.aboutus-side{

	margin: 30px;
	margin-right: 0;
	padding: 20px;
	flex: 30%;

}

.aboutus-side h2.h2{

	margin-top: 60px;
	margin-left: 210px;
	width: 30%;
	text-align: justify;
	color: darkslategray;
	width: 500px;
	padding-left: 40px;
	font-family: 'Lucida Sans';

}

.aboutus-side p.p{

	margin-top: 20px;
	margin-left: 210px;
	width: 30%;
	text-align: justify;
	color: darkslategray;
	width: 500px;
	padding-left: 40px;
	font-family: 'Trebuchet MS';

}

.aboutus-side h2.h{

	margin-top: 100px;
	margin-left: 210px;
	width: 30%;
	text-align: justify;
	color: darkslategray;
	width: 500px;
	padding-left: 30px;
	font-family: 'Lucida Sans';

}

.aboutus-side p.pp{

	margin-top: 20px;
	margin-left: 200px;
	width: 30%;
	text-align: justify;
	color: darkslategray;
	width: 500px;
	padding-left: 40px;
	font-family: 'Trebuchet MS';

}

.aboutus-side img{

	margin-top: 70px;
	margin-left: 270px;
	border:black solid 1px ;
	box-shadow: 5px -3px 6px gray;
	height: 300px;
	width: 400px;
	
}

.aboutus-row .main{

	text-align: center;

}
.aboutus-main{

	padding: 20px;
	margin: 30px;
	margin-right: 30px;
	text-align: justify;
	flex: 30%;
	font-size: 15px;
	color: deepgreen;

}

.aboutus-main p.p{

	margin-top: 20px;
	margin-left: 100px;
	margin-right: 200px;
	width: 30%;
	text-align: justify;
	color: darkslategray;
	width: 500px;
	padding-left: 40px;
	padding-right: 60px;
	font-family: 'Trebuchet MS';

}

.aboutus-main h2.h2{

	margin-top: 100PX;
	margin-left: 100px;
	margin-right: 200px;
	width: 30%;
	text-align: justify;
	color: darkslategray;
	width: 500px;
	padding-left: 40px;
	padding-right: 60px;
	font-family: 'Lucida Sans';

}

.aboutus-main #main-first{

	margin-right: 60px;
	margin-left: 145px;
	border:black solid 1px ;
	box-shadow: 5px -3px 6px gray;
	height: 300px;
	width: 400px;

}

.aboutus-main #main-second{

	margin-top: 70PX;
	margin-right: 50px;
	margin-left: 145px;
	border:black solid 1px ;
	box-shadow: 5px -3px 6px gray;
	height: 300px;
	width: 400px;

}

.aboutus-row .aside{

	text-align: justify;

}

/* CONTACT US CSS */

.contactus-head{

	margin-top: 50px;
	text-align: center;
	font-family: 'Lucida Sans';
	font-size: x-large;

}

.contactus-row{

	display: flex;
	flex-wrap: wrap;
	
}

.contactus-left-side{

	margin-left: 30px;
	margin-right: 0;
	padding: 20px;
	flex: 30%;
	font-family: 'Ysabeau', sans-serif;

}

.contactus-left-side a{
	margin-left: 25px;
	padding-bottom: 20px;
	font-size: 15px;
	text-decoration: none;
	color: #263A29;
	display: block;
}

.contactus-left-side h2{

    margin-left: 80px;
    margin-top: 20px;
    color: #263A29;

}

.contactus-left-side p.p{

    text-align: justify;
	color: darkslategray;
	width: 500px;
	margin-left: 80px;
	font-family: 'Trebuchet MS';

}

.contactus-left-side p.pp{

    text-align: justify;
	color: darkslategray;
	width: 500px;
	margin-left: 80px;
	font-family: 'Trebuchet MS';

}

.contactus-left-side h3{
   
    margin-left: 80px;

}

.contactus-left-side p.ppp{

    text-align: justify;
	color: darkslategray;
	width: 500px;
	margin-left: 80px;
	font-family: 'Trebuchet MS';

}

.contactus-left-side h2.h2h2{

    margin-left: 80px;
    margin-top: 10px;
	margin-bottom: 100px;
    color: #263A29;
    width: 500px;

}

.contactus-right-side {
	margin-right: 200px;
}

.contactus-fullname input[type=text]{

	padding: 8px;
	border-radius: 15px;
	font-size: 15px;
	width: 400px;
    margin-top: 120px;
    margin-right: 200px;
	background-color: #ffffea;
	border: solid black 1px;
}


.fullname{
	padding: 10px;
	padding-left: 200px;
	width: 50%;
	text-align: center;

}

.contactus-email input[type=text]{

	padding: 8px;
	border-radius: 15px;
	font-size: 15px;
	width: 400px;
    margin-top: 20px;
    margin-right: 200px;
	background-color: #ffffea;
	border: solid black 1px;

}

.email{

	padding: 10px;
	padding-left: 200px;
	width: 50%;
	text-align: center;

}

.contactus-contact input[type=text]{

	padding: 8px;
	border-radius: 15px;
	font-size: 15px;
	width: 400px;
    margin-top: 20px;
    margin-right: 200px;
	background-color: #ffffea;
	border: solid black 1px;

}

.contact{

	padding: 10px;
	padding-left: 200px;
	width: 50%;
	text-align: center;

}

.contactus-message input[type=text]{

	border-radius: 15px;
	font-size: 15px;
	width: 400px;
    height: 200px;
    margin-top: 20px;
    margin-right: 200px;
	background-color: #ffffea;
	border: solid black 1px;

}

.message{

	padding: 10px;
	padding-left: 200px;
	width: 50%;
	text-align: center;

}

.submit {
	margin-top: 20px;
	border-radius: 5px;
	font-size: 15px;
	border: solid black 1px;
	background-color: #ffa600;
	color: black;
}

.submit:hover {
	color: white;
}

/* BLOG CSS */

 .blogpage{
    background-color: #ffffea;
}

.blog-head{

	margin-top: 50px;
	margin-bottom: 30px;
	text-align: center;
	font-family: 'Lucida Sans';
	font-size: x-large;

}


.blog{
	display: flex;
	flex: wrap;
}



.blog-main{
    flex: 70%;
    margin: 50px;
    margin-right: 20px;
    margin-top: 0;
    padding: 10px;
    text-align: justify;
    
}

.blog-main h4{
	font-size: 20px	;
	padding: 20px;
	padding-left: 0;
	padding-top: 0;

}

.blog-main p.p{
	padding: 5px;
	padding-left: 0;
	text-align: justify;

}

.blog-main .btn{
	border-radius: 5px;
	font-size: 5px;
	border: solid black 1px;
	background-color: #ffa600;
	color: black
}

.blog-main .btn:hover{
	color: black;
}

.blog-side{
    flex: 30%;
    margin: 50px;
    margin-left: 0;
    padding: 10px;
    margin-top: 0;
    text-align: justify;
}

.search input[type=text]{

	padding: 8px;
	border-radius: 15px;
	font-size: 10px;
	border: none;
	width: 300px;
	border: solid black 1px;

}

.search{

	padding: 10px;
	padding-left: 105px;
	width: 10%;
	flex: 20%;
	transform: translateY(2px);
	text-align: center;

}

.blog-side .img{
	text-align: center;
}

.img img{
	margin-top: 15px;
	margin-bottom: 10px;
	border-radius: 20px;
	box-shadow: 10px 5px 5px #83764F;
}


/* FOOTER */

.footer{
	background-color: #161612e8;
}


.footer-row{
	display: flex;
	flex-wrap: wrap;
	padding-left: 100px;
	padding-top: 20px;
}

.footer-col{

	width: 25%;
	margin: 30px;

}

.footer-col h4{
	font-size: 15px;
	color: white;
	margin-bottom: 30px;
	position: relative;
}

.footer-col h4::before{
	content: '';
	position: absolute;
	left: 0;
	bottom: -10px;
	background: #ffa600;
	height: 2px;
	width: 50px;
}


.footer-col a{
	font-size: 15px;
	text-decoration: none;
	color: white;
	display: block;
	transition: all .3s ease;
}

.footer-col  a:hover{
	color: #ffa600;
	padding-left: 6px;

}

.icons li{
	display: block;
	padding-left: 0;
}

.icons i{
	margin-right: 20px;

}


.icons a{
	display: inline;
	color: white;
	transition: all .5 ease;

}


.icons i:hover{
	color: #ffa600;
}